@model IEnumerable<BusinessObject.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
        </tr>
}
    </tbody>
</table>
